/*
Name: 
Date: 
*/

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "side1 section1 section1 section1" 
    "side1 section2 videoSection side2"
    "references references references references"
    "footer footer footer footer";
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    text-align: center;
    background-color: #7400B8
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
}

.references{
  grid-area: references;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
}

img{
  width: 100%
}

